

<div>
    <h1 class="display-4">Account (ID @ViewBag.Opportunity["opportunityid"])</h1>

    <p><b>Name: </b> @ViewBag.Opportunity["name"]</p>
    <p><b>Step: </b> @ViewBag.Opportunity["stepname"]</p>
    <p><b>Customer Need: </b> @ViewBag.Opportunity["customerneed"]</p>
    <p><b>Proposed Solution: </b> @ViewBag.Opportunity["proposedsolution"]</p>

</div>