@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Product (ID @ViewBag.Lead["productid"])</h1>

    <p><b>CreatedOn: </b> @ViewBag.Product["createdby"]</p>
    <p><b>CreatedOn: </b> @ViewBag.Product["createdon"]</p>
    <p><b>CurrentCost: </b> @ViewBag.Product["currentcost"]</p>
    <p><b>Description: </b> @ViewBag.Product["description"]</p>
    <p><b>Name: </b> @ViewBag.Product["name"]</p>
    <p><b>Description: </b> @ViewBag.Product["description"]</p>
    <p><b>Price: </b> @ViewBag.Product["price"]</p>
    <p><b>CendorName: </b> @ViewBag.Product["vendorname"]</p>


</div>